// Here you can add other styles

.leaflet-container {
  overflow: initial !important;
}
.navbar-brand-full {
  width: 100%;
  height: auto;
  padding-left: 10px;
}
.navbar-brand-minimized {
  width: 40px;
}
.table th,
.table td {
  padding: 0.55rem !important;
  vertical-align: middle;
}
.table {
  border: 1px solid #cecece;
}
.table td:last-child,
.table th:last-child {
  text-align: right;
}

.avatar-photo input[type="file"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // width: 150;
  // height: 50;
  cursor: pointer;
  -moz-opacity: 0;
  // filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 9;
}
.avatar-edit span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  font-size: 10px;
  font-weight: 690;
  text-align: center;
  position: absolute;
  z-index: 5;
  bottom: 5px;
  right: 5px;
  color: slateblue;
}
.avatar-photo:hover {
  cursor: pointer;
}
.avatar-photo:hover .avatar-edit i {
  opacity: 0.8;
  font-size: 100px;
}

.avatar-edit {
  text-align: center;
}
.avatar-photo {
  position: relative;
  background-color: #666;
  // height: 50px;
  width: 150px;
  overflow: hidden;
  border-radius: 1px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ccc;
  z-index: 3;
}
.modal-content .card {
  margin-bottom: 0px;
}
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;

  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #52a9d8;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.floatIcon {
  bottom: 65px;
  right: 5px;
  .btnSetting {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .float-setting {
    background: #fff;
    height: 70vh;
    margin-bottom: 8px;
  }
}

.close-icon {
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
ul.nav.nav-tabs {
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
  flex-wrap: inherit;
}
.scroll {
  display: flex;
}
.slideArrow {
  padding: 10px 15px;
  font-size: 20px;
}

ul.nav::-webkit-scrollbar {
  width: 12px;
  height: 4px;
  background-color: #f5f5f5;
}

ul.nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.card-body {
  overflow-x: auto;
}
.paddingtop15 {
  padding-top: 15px;
}
.breadcrumb {
  z-index: 999;
  padding-left: 1.8rem;
}
.leaflet-container a {
  color: #181b1e !important;
}
.leaflet-draw-actions a {
  background-color: khaki !important;
}

ol.breadcrumb{
  border-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
  min-height: 48px;
}