
.cardTitlePerm
{
    margin-top: 14px !important;
    font-size: 16px;
}
.calenderBack
{
    border-radius: 6px;
    height: 46px;
    margin-top: 2px !important;
    background: white;
    max-width: 170px;
}